<launch>
        <node name="following_node" pkg="dreamvu_pal_tracking" type="follower" output="screen" />
        
        <node name="rviz" pkg="rviz" type="rviz" args="-f pal -d $(find dreamvu_pal_tracking)/launch/tracking.rviz" output="screen"/>
              
      
</launch>        
          
